@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background-image: url("bg.png");
    background-size: no-repeat;
    background-repeat: repeat-x;
    background-color: #0b4351;

}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.back-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0;
    text-decoration: none;
  }
  
  .back-btn img {
    max-width: 22vw;
    max-height: 22vw;
    transition: 0.2s;
    cursor: pointer;
  }
  
  .back-btn:hover img {
    content: url('back_hover.png');
  }
  
  @media (max-width: 600px) {
    .back-btn img {
      max-width: 18vw;
      max-height: 18vw;
    }
  }